body{
    margin: 0;
    padding: 0;
    background-color: aqua;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: 100;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px red;
    color:beige;
    
}
img{
        border:2px solid black;
        border-radius: 50%;
        float:left;
        margin-right: 20px;
    }